PORT=3005
UR_HOST=localhost
UR_PORT=30002

UR_DASHBOARD_HOST=localhost
UR_DASHBOARD_PORT=29999
UR_RTDE_HOST=localhost
UR_RTDE_PORT=30004

ENABLE_RTDE_STATUS=1
ENABLE_DASHBOARD_STATUS=1
ENABLE_DASHBOARD_WHEN_RTDE_LIVE=0

UR_PERSISTENT_SOCKET=1
WARM_URSCRIPT_SOCKET=1

BOARD_PROFILE=table_front
WHITEBOARD_PROFILE=wall_default

DRAW_PEN_UP_D=0.018
DRAW_PEN_DOWN_D=0.001
DRAW_LINE_V=0.03
DRAW_LINE_A=0.6
DRAW_TRAVEL_V=0.25
DRAW_TRAVEL_A=1.0

DRAW_MAX_STROKES=800
DRAW_MAX_POINTS=12000
DRAW_MAX_PATH_M=14.0
DRAW_MAX_SCRIPT_LINES=16000
